.socials
    .socials__text= ditictionary['socials_text'][`${lang}`]
    .socials__divider
    a(target='_blank' href='https://github.com/Qunthunnan')
        svg(width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M10.5 0.5C4.975 0.5 0.5 4.86167 0.5 10.2411C0.5 14.5457 3.365 18.1962 7.3375 19.4832C7.8375 19.5749 8.02083 19.2734 8.02083 19.0148C8.02083 18.7835 8.0125 18.1706 8.00833 17.3585C5.22667 17.9459 4.64 16.0517 4.64 16.0517C4.185 14.9274 3.5275 14.6267 3.5275 14.6267C2.62167 14.0228 3.5975 14.0352 3.5975 14.0352C4.60167 14.103 5.12917 15.0389 5.12917 15.0389C6.02083 16.5283 7.47 16.0979 8.04167 15.8493C8.13167 15.219 8.38917 14.7903 8.675 14.5466C6.45417 14.3029 4.12 13.4652 4.12 9.73304C4.12 8.66988 4.5075 7.80085 5.14917 7.11934C5.03667 6.87317 4.69917 5.8827 5.23667 4.54116C5.23667 4.54116 6.07417 4.28012 7.98667 5.53988C8.78667 5.32345 9.63667 5.21606 10.4867 5.2111C11.3367 5.21606 12.1867 5.32345 12.9867 5.53988C14.8867 4.28012 15.7242 4.54116 15.7242 4.54116C16.2617 5.8827 15.9242 6.87317 15.8242 7.11934C16.4617 7.80085 16.8492 8.66988 16.8492 9.73304C16.8492 13.4752 14.5117 14.2987 12.2867 14.5383C12.6367 14.8307 12.9617 15.428 12.9617 16.3408C12.9617 17.6444 12.9492 18.6918 12.9492 19.0082C12.9492 19.2635 13.1242 19.5683 13.6367 19.4708C17.6375 18.192 20.5 14.5391 20.5 10.2411C20.5 4.86167 16.0225 0.5 10.5 0.5Z' fill='white')
    a(target='_blank' href='https://t.me/Qunthunnan0')
        svg(width='20' height='20' viewBox='0 0 30 30' fill='' xmlns='http://www.w3.org/2000/svg')
            path(d='M15 30C23.2863 30 30 23.2863 30 15C30 6.71375 23.2863 0 15 0C6.71375 0 0 6.71375 0 15C0 23.2863 6.71375 30 15 30ZM6.86375 14.675L21.3263 9.09875C21.9975 8.85625 22.5837 9.2625 22.3662 10.2775L22.3675 10.2762L19.905 21.8775C19.7225 22.7 19.2337 22.9 18.55 22.5125L14.8 19.7487L12.9912 21.4913C12.7912 21.6913 12.6225 21.86 12.235 21.86L12.5013 18.0438L19.4513 11.765C19.7537 11.4987 19.3837 11.3488 18.985 11.6138L10.3963 17.0212L6.69375 15.8663C5.89 15.6112 5.8725 15.0625 6.86375 14.675Z' fill='white')
    a(target='_blank' href='https://www.facebook.com/kirylo.bashkan')
        svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M17.0703 0H2.92969C1.31439 0 0 1.31439 0 2.92969V17.0703C0 18.6856 1.31439 20 2.92969 20H8.82812V12.9297H6.48438V9.41406H8.82812V7.03125C8.82812 5.09262 10.4051 3.51562 12.3438 3.51562H15.8984V7.03125H12.3438V9.41406H15.8984L15.3125 12.9297H12.3438V20H17.0703C18.6856 20 20 18.6856 20 17.0703V2.92969C20 1.31439 18.6856 0 17.0703 0Z' fill='white')
section.promo
    .container
        h2.uptitle.uptitle_promo= ditictionary['uptitle_promo'][`${lang}`]
        h1.title.title_promo= ditictionary['title_promo'][`${lang}`]
        .promo__buttons-wrapper
            a.button(href='#portfolio')= ditictionary['#portfolio'][`${lang}`]
            a(href='#about-me')= ditictionary['#about-me'][`${lang}`]
    .promo__menu-btn
        span
        span
        span
    .promo__menu-block
        .promo__menu-close.promo__menu-item ×
        nav
            ul.promo__menu-items
                li
                    a.promo__menu-item(href='#about-me')= ditictionary['#about-me'][`${lang}`]
                li
                    a.promo__menu-item(href='#exp-edu')= ditictionary['#exp-edu'][`${lang}`]
                li
                    a.promo__menu-item(href='#tools')= ditictionary['#tools'][`${lang}`]
                li
                    a.promo__menu-item(href='#portfolio')= ditictionary['myWorks'][`${lang}`]
                li
                    a.promo__menu-item(href='#contacts')= ditictionary['#contacts'][`${lang}`]
        .promo__menu-socials
            a.promo__menu-item(target='_blank' href='https://github.com/Qunthunnan')
                img(src=require('@/icons/social/github.svg') alt='github')
            a.promo__menu-item(target='_blank' href='https://t.me/Qunthunnan0')
                img(src=require('@/icons/social/telegram.svg') alt='telegram')
            a.promo__menu-item(target='_blank' href='https://www.facebook.com/kirylo.bashkan')
                img(src=require('@/icons/social/facebook.svg') alt='facebook')
    .promo__menu-overlay.promo__menu-item
section#about-me.about-me
    .container
        .about-me__wrapper
            .about-me__my-photo
                picture
                    source(type='image/webp' srcset=require('@/img/my-photo.webp') media='(max-width: 576px)')
                    source(media='(min-width: 577px)' srcset=require('@/img/my-photo.jpg'))
                    img(src=require('@/img/my-photo.jpg') alt='my-photo')
            .about-me__content
                .uptitle.uptitle_about-me= ditictionary['#about-me'][`${lang}`]
                .title.title_about-me= ditictionary['title_about-me'][`${lang}`]
                .about-me__text= ditictionary['about-me__text'][`${lang}`]
            .about-me__skills
                .about-me__skill
                    .about-me__skill-img-wrapper
                        img(src=require('@/icons/about_me/web_development.svg') alt='web-dev')
                    .about-me__text-wrapper
                        .about-me__skill-title= ditictionary['web'][`${lang}`]
                        .about-me__skill-descr= ditictionary['webSkill'][`${lang}`]
                .about-me__skill
                    .about-me__skill-img-wrapper
                        img(src=require('@/icons/about_me/web_development.svg') alt='web-dev')
                    .about-me__text-wrapper
                        .about-me__skill-title= ditictionary['servAdmin'][`${lang}`]
                        .about-me__skill-descr= ditictionary['servAdminSkill'][`${lang}`]
                .about-me__skill
                    .about-me__skill-img-wrapper
                        img(src=require('@/icons/about_me/web_development.svg') alt='web-dev')
                    .about-me__text-wrapper
                        .about-me__skill-title= ditictionary['cppChProgramming'][`${lang}`]
                        .about-me__skill-descr= ditictionary['cppChProgrammingSkill'][`${lang}`]
section#exp-edu.exp-edu
    .container
        h2.uptitle.uptitle_exp-edu= ditictionary['uptitle_exp-edu'][`${lang}`]
        h2.title.title_exp-edu= ditictionary['title_exp-edu'][`${lang}`]
        .exp-edu__wrapper
            .exp-edu__education
                h3.exp-edu__subtitle= ditictionary['exp-edu__subtitle'][`${lang}`]
                .exp-edu__info-block
                    .exp-edu__icon
                        img(src=require('@/icons/experience/university.svg') alt='itstep')
                    h4.exp-edu__info-title= ditictionary['exp-edu__info-title-Academy'][`${lang}`]
                    h5.exp-edu__info-subtitle= ditictionary['exp-edu__info-subtitle-Academy'][`${lang}`]
                    .exp-edu__info-text= ditictionary['exp-edu__info-text-Academy'][`${lang}`]
                .exp-edu__info-block
                    .exp-edu__icon
                        img(src=require('@/icons/experience/courses.svg') alt='udemy')
                    h4.exp-edu__info-title Udemy
                    h5.exp-edu__info-subtitle= ditictionary['exp-edu__info-subtitle-Udemy'][`${lang}`]
                    .exp-edu__info-text= ditictionary['exp-edu__info-text-Udemy'][`${lang}`]
            .exp-edu__experience
                h3.exp-edu__subtitle= ditictionary['exp-edu__subtitle-Exp'][`${lang}`]
                .exp-edu__info-block
                    .exp-edu__icon
                        img(src=require('@/icons/experience/developer.svg') alt='developer')
                    h4.exp-edu__info-title= ditictionary['exp-edu__info-title-OwnProjects'][`${lang}`]
                    h5.exp-edu__info-subtitle
                        a(target='_blank' href='#portfolio')= ditictionary['#portfolio-Watch'][`${lang}`]
                    .exp-edu__info-text= ditictionary['exp-edu__info-text-OwnProjects'][`${lang}`]
                        a(target='_blank' href='https://github.com/Qunthunnan')
                            | Github
                            svg(width='20' height='20' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M10.5 0.5C4.975 0.5 0.5 4.86167 0.5 10.2411C0.5 14.5457 3.365 18.1962 7.3375 19.4832C7.8375 19.5749 8.02083 19.2734 8.02083 19.0148C8.02083 18.7835 8.0125 18.1706 8.00833 17.3585C5.22667 17.9459 4.64 16.0517 4.64 16.0517C4.185 14.9274 3.5275 14.6267 3.5275 14.6267C2.62167 14.0228 3.5975 14.0352 3.5975 14.0352C4.60167 14.103 5.12917 15.0389 5.12917 15.0389C6.02083 16.5283 7.47 16.0979 8.04167 15.8493C8.13167 15.219 8.38917 14.7903 8.675 14.5466C6.45417 14.3029 4.12 13.4652 4.12 9.73304C4.12 8.66988 4.5075 7.80085 5.14917 7.11934C5.03667 6.87317 4.69917 5.8827 5.23667 4.54116C5.23667 4.54116 6.07417 4.28012 7.98667 5.53988C8.78667 5.32345 9.63667 5.21606 10.4867 5.2111C11.3367 5.21606 12.1867 5.32345 12.9867 5.53988C14.8867 4.28012 15.7242 4.54116 15.7242 4.54116C16.2617 5.8827 15.9242 6.87317 15.8242 7.11934C16.4617 7.80085 16.8492 8.66988 16.8492 9.73304C16.8492 13.4752 14.5117 14.2987 12.2867 14.5383C12.6367 14.8307 12.9617 15.428 12.9617 16.3408C12.9617 17.6444 12.9492 18.6918 12.9492 19.0082C12.9492 19.2635 13.1242 19.5683 13.6367 19.4708C17.6375 18.192 20.5 14.5391 20.5 10.2411C20.5 4.86167 16.0225 0.5 10.5 0.5Z' fill='black')
section#tools.tools
    .container
        h3.uptitle.uptitle_tools= ditictionary['uptitle_tools'][`${lang}`]
        h2.title.title_tools= ditictionary['title_tools'][`${lang}`]
        .tools__wrapper
            .tools__tool
                .tools__tool-img
                    img(src=require('@/icons/skills/html5.svg') alt='html')
                h4.tools__tool-title HTML5
                .tools__text= ditictionary['tools__text-Html5'][`${lang}`]
            .tools__tool
                .tools__tool-img
                    img(src=require('@/icons/skills/css3.svg') alt='css3')
                h4.tools__tool-title CSS3
                .tools__text= ditictionary['tools__text-Css3'][`${lang}`]
            .tools__tool
                .tools__tool-img
                    img(src=require('@/icons/skills/js.svg') alt='js')
                h4.tools__tool-title Java Script
                .tools__text= ditictionary['tools__text-Js'][`${lang}`]
            .tools__tool
                .tools__tool-img
                    img(src=require('@/icons/skills/jquery.svg') alt='jquery')
                h4.tools__tool-title Jquery
                .tools__text= ditictionary['tools__text-Jquery'][`${lang}`]
            .tools__tool
                .tools__tool-img.tools__tool-img-multi
                    svg(viewBox='0 0 600 600' xmlns='http://www.w3.org/2000/svg').tools__webpack
                        path(d='m300 .1 265 149.9v299.9l-265 149.9-265-149.9v-299.9z' fill='#fff')
                        path(d='m517.7 439.5-208.9 118.3v-92l130.2-71.7zm14.3-12.9v-247.2l-76.4 44.1v159zm-450.5 12.9 208.9 118.2v-92l-130.2-71.6zm-14.3-12.9v-247.2l76.4 44.1v159zm8.9-263.2 214.3-121.2v89l-137.3 75.5-1.1.6zm446.9 0-214.2-121.2v89l137.2 75.6 1.1.6z' fill='#8ed6fb')
                        path(d='m290.4 444.8-128.4-70.7v-139.9l128.4 74.1zm18.4 0 128.4-70.6v-140l-128.4 74.1zm-138.2-226.8 129-70.9 128.9 70.9-128.9 74.4z' fill='#1c78c0')
                    img(src=require('@/icons/skills/git-logo.png') alt='nodejs')
                    svg(viewBox='0 0 780 250')
                        path(fill='#231F20' d='M240,250h100v-50h100V0H240V250z M340,50h50v100h-50V50z M480,0v200h100V50h50v150h50V50h50v150h50V0H480z M0,200h100V50h50v150h50V0H0V200z')
                h4.tools__tool-title Gulp, Git, Webpack, npm
                .tools__text= ditictionary['tools__text-Tools'][`${lang}`]
section#portfolio.portfolio
    .container
        h3.uptitle.uptitle_portfolio= ditictionary['uptitle_portfolio'][`${lang}`]
        h2.title.title_portfolio= ditictionary['title_portfolio'][`${lang}`]
        .portfolio__wrapper
            a.portfolio__item.portfolio__item-prengi(target='_blank' href='prengi/')
                img(src=require('@/img/works/prengi.jpg') alt='prengi')
            a.portfolio__item.portfolio__item-pulse(target='_blank' href='pulse/')
                picture
                    source(type='image/webp' srcset=require('@/img/works/pulse.webp') media='(max-width:576px)')
                    source(media='(min-width: 577px)' srcset=require('@/img/works/pulse.jpg'))
                    img(src=require('@/img/works/pulse.jpg') alt='pulse')
            a.portfolio__item.portfolio__item-uber(target='_blank' href='uber/')
                picture
                    source(type='image/webp' srcset=require('@/img/works/uber.webp') media='(max-width: 576px)')
                    source(media='(min-width: 577px)' srcset=require('@/img/works/uber.jpg'))
                    img(src=require('@/img/works/uber.jpg') alt='uber')
            a.portfolio__item.portfolio__item-wordpress.portfolio__item-vertical(target='_blank' href='wordpress/')
                img(src=require('@/img/works/wordpress-vertical.jpg') alt='wordpress')
            a.portfolio__item.portfolio__item-none(target='_blank' href='none/')
                picture
                    img(src=require('@/img/works/bread.jpg') alt='bread')
            a.portfolio__item.portfolio__item-horizontal.portfolio__item-none(target='_blank' href='none/')
                picture
                    source(type='image/webp' srcset=require('@/img/works/mac.webp') media='(max-width: 576px)')
                    source(media='(min-width: 577px)' srcset=require('@/img/works/mac.jpg'))
                    img(src=require('@/img/works/mac.jpg') alt='mac')
section#contacts.contacts
    .container
        .contacts__wrapper
            .contacts__my-photo
                img(src=require('@/img/my-photo.jpg') alt='my-photo')
            .contacts__content
                h3.uptitle.uptitle_contacts= ditictionary['uptitle_contacts'][`${lang}`]
                h2.title.title_contacts= ditictionary['title_contacts'][`${lang}`]
                .contacts__descr= ditictionary['contacts__descr'][`${lang}`]
                .contacts__socials
                    a(target='_blank' href='https://www.facebook.com/kirylo.bashkan')
                        svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M17.0703 0H2.92969C1.31439 0 0 1.31439 0 2.92969V17.0703C0 18.6856 1.31439 20 2.92969 20H8.82812V12.9297H6.48438V9.41406H8.82812V7.03125C8.82812 5.09262 10.4051 3.51562 12.3438 3.51562H15.8984V7.03125H12.3438V9.41406H15.8984L15.3125 12.9297H12.3438V20H17.0703C18.6856 20 20 18.6856 20 17.0703V2.92969C20 1.31439 18.6856 0 17.0703 0Z' fill='white')
                    a(target='_blank' href='https://t.me/Qunthunnan0')
                        svg(width='20' height='20' viewBox='0 0 30 30' fill='' xmlns='http://www.w3.org/2000/svg')
                            path(d='M15 30C23.2863 30 30 23.2863 30 15C30 6.71375 23.2863 0 15 0C6.71375 0 0 6.71375 0 15C0 23.2863 6.71375 30 15 30ZM6.86375 14.675L21.3263 9.09875C21.9975 8.85625 22.5837 9.2625 22.3662 10.2775L22.3675 10.2762L19.905 21.8775C19.7225 22.7 19.2337 22.9 18.55 22.5125L14.8 19.7487L12.9912 21.4913C12.7912 21.6913 12.6225 21.86 12.235 21.86L12.5013 18.0438L19.4513 11.765C19.7537 11.4987 19.3837 11.3488 18.985 11.6138L10.3963 17.0212L6.69375 15.8663C5.89 15.6112 5.8725 15.0625 6.86375 14.675Z' fill='white')
                .contacts__descr= ditictionary['contacts__descr-CallYou'][`${lang}`]
                form.contacts__form(action='#')
                    .contacts__name-input
                        input(name='name' type='text')
                        label= ditictionary['labelName'][`${lang}`]
                    .contacts__email-input
                        input(name='email' type='email')
                        label= ditictionary['labelEmail'][`${lang}`]
                    .contacts__message
                        textarea(name='message')
                        label= ditictionary['labelMessage'][`${lang}`]
                    button.button.button_contacts= ditictionary['button_contacts'][`${lang}`]
                    .contacts__policy
                        input(name='policy' type='checkbox')
                        label= ditictionary['labelAgree'][`${lang}`]
                            a(target='_blank' href='policy/')= ditictionary['policyLink'][`${lang}`]
                .contacts__mail-sending= ditictionary['contacts__mail-sending'][`${lang}`]
                .contacts__mail-sended= ditictionary['contacts__mail-sended'][`${lang}`]