section.none
    h1.title.title_none-first= ditictionary['title_none-first'][lang]
    h2.title.title_none= ditictionary['title_none'][lang]
    h3.uptitle.uptitle_none= ditictionary['uptitle_none'][lang]
        a.none__link(target='_blank' href=`/prengi/${lang}`) Prengi
        | , 
        a.none__link(target='_blank' href=`/pulse/${lang}`) Pulse
        | , 
        a.none__link(target='_blank' href=`/uber/${lang}`) Uber
        | , 
        a.none__link(target='_blank' href=`/wordpress/${lang}`) Wordpress
    a.none__back-link(href=`/${lang}#portfolio`)= ditictionary['none__back-link'][lang]