doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Portfolio
    //
      <meta name="title" content="Мое портфолио">
      <meta name="description" content="Дескріпшен">
    // Open Graph / Facebook
    //
      <meta property="og:type" content="website">
      <meta property="og:url" content="https://metatags.io/">
      <meta property="og:title" content="Моє портфоліо">
      <meta property="og:description" content="Це моє портфоліо, перегляньте та зацініть:">
      <meta property="og:image" content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">
    // Twitter
    //
      <meta property="twitter:card" content="summary_large_image">
      <meta property="twitter:url" content="https://metatags.io/">
      <meta property="twitter:title" content="Моє портфоліо">
      <meta property="twitter:description" content="Це моє портфоліо, перегляньте та зацініть:">
      <meta property="twitter:image" content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">
    link(rel='apple-touch-icon' sizes='180x180' href=require('icons/favicon/apple-touch-icon.png'))
    link(rel='icon' type='image/png' sizes='32x32' href=require('icons/favicon/favicon-32x32.png'))
    link(rel='icon' type='image/png' sizes='16x16' href=require('icons/favicon/favicon-16x16.png'))
    link(rel='manifest' href=require('icons/favicon/site.webmanifest'))
    link(rel='mask-icon' href=require('icons/favicon/safari-pinned-tab.svg') color='#5bbad5')
    meta(name='msapplication-TileColor' content='#2b5797')
    meta(name='theme-color' content='#ffffff')
    link(rel='stylesheet' href=require('sass/style.scss'))
  body
    .socials
      .socials__text Соціальні мережі
      .socials__divider
      a(target='_blank' href='https://github.com/Qunthunnan')
        svg(width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M10.5 0.5C4.975 0.5 0.5 4.86167 0.5 10.2411C0.5 14.5457 3.365 18.1962 7.3375 19.4832C7.8375 19.5749 8.02083 19.2734 8.02083 19.0148C8.02083 18.7835 8.0125 18.1706 8.00833 17.3585C5.22667 17.9459 4.64 16.0517 4.64 16.0517C4.185 14.9274 3.5275 14.6267 3.5275 14.6267C2.62167 14.0228 3.5975 14.0352 3.5975 14.0352C4.60167 14.103 5.12917 15.0389 5.12917 15.0389C6.02083 16.5283 7.47 16.0979 8.04167 15.8493C8.13167 15.219 8.38917 14.7903 8.675 14.5466C6.45417 14.3029 4.12 13.4652 4.12 9.73304C4.12 8.66988 4.5075 7.80085 5.14917 7.11934C5.03667 6.87317 4.69917 5.8827 5.23667 4.54116C5.23667 4.54116 6.07417 4.28012 7.98667 5.53988C8.78667 5.32345 9.63667 5.21606 10.4867 5.2111C11.3367 5.21606 12.1867 5.32345 12.9867 5.53988C14.8867 4.28012 15.7242 4.54116 15.7242 4.54116C16.2617 5.8827 15.9242 6.87317 15.8242 7.11934C16.4617 7.80085 16.8492 8.66988 16.8492 9.73304C16.8492 13.4752 14.5117 14.2987 12.2867 14.5383C12.6367 14.8307 12.9617 15.428 12.9617 16.3408C12.9617 17.6444 12.9492 18.6918 12.9492 19.0082C12.9492 19.2635 13.1242 19.5683 13.6367 19.4708C17.6375 18.192 20.5 14.5391 20.5 10.2411C20.5 4.86167 16.0225 0.5 10.5 0.5Z' fill='white')
      a(target='_blank' href='https://t.me/Qunthunnan0')
        svg(width='20' height='20' viewBox='0 0 30 30' fill='' xmlns='http://www.w3.org/2000/svg')
          path(d='M15 30C23.2863 30 30 23.2863 30 15C30 6.71375 23.2863 0 15 0C6.71375 0 0 6.71375 0 15C0 23.2863 6.71375 30 15 30ZM6.86375 14.675L21.3263 9.09875C21.9975 8.85625 22.5837 9.2625 22.3662 10.2775L22.3675 10.2762L19.905 21.8775C19.7225 22.7 19.2337 22.9 18.55 22.5125L14.8 19.7487L12.9912 21.4913C12.7912 21.6913 12.6225 21.86 12.235 21.86L12.5013 18.0438L19.4513 11.765C19.7537 11.4987 19.3837 11.3488 18.985 11.6138L10.3963 17.0212L6.69375 15.8663C5.89 15.6112 5.8725 15.0625 6.86375 14.675Z' fill='white')
      a(target='_blank' href='https://www.facebook.com/kirylo.bashkan')
        svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M17.0703 0H2.92969C1.31439 0 0 1.31439 0 2.92969V17.0703C0 18.6856 1.31439 20 2.92969 20H8.82812V12.9297H6.48438V9.41406H8.82812V7.03125C8.82812 5.09262 10.4051 3.51562 12.3438 3.51562H15.8984V7.03125H12.3438V9.41406H15.8984L15.3125 12.9297H12.3438V20H17.0703C18.6856 20 20 18.6856 20 17.0703V2.92969C20 1.31439 18.6856 0 17.0703 0Z' fill='white')
    section.promo
      .container
        h2.uptitle.uptitle_promo Мене звати Кирило Башкан
        h1.title.title_promo Я web-розробник
        .promo__buttons-wrapper
          a.button(href='#portfolio') Портфоліо
          a(href='#about-me') Про мене
      .promo__menu-btn
        span
        span
        span
      .promo__menu-block
        .promo__menu-close.promo__menu-item ×
        nav
          ul.promo__menu-items
            li
              a.promo__menu-item(href='#about-me') Про мене
            li
              a.promo__menu-item(href='#exp-edu') Мій досвід
            li
              a.promo__menu-item(href='#tools') Мої навички
            li
              a.promo__menu-item(href='#portfolio') Мої роботи
            // <li><a href="#">Прайс</a></li>
            li
              a.promo__menu-item(href='#contacts') Контакти
        .promo__menu-socials
          a.promo__menu-item(target='_blank' href='https://github.com/Qunthunnan')
            img(src=require('icons/social/github.svg') alt='github')
          a.promo__menu-item(target='_blank' href='https://t.me/Qunthunnan0')
            img(src=require('icons/social/telegram.svg') alt='telegram')
          a.promo__menu-item(target='_blank' href='https://www.facebook.com/kirylo.bashkan')
            img(src=require('icons/social/facebook.svg') alt='facebook')
      .promo__menu-overlay.promo__menu-item
    section#about-me.about-me
      .container
        .about-me__wrapper
          .about-me__my-photo
            picture
              source(type='image/webp' srcset=require('img/my-photo.webp') media='(max-width: 576px)')
              source(media='(min-width: 577px)' srcset=require('img/my-photo.jpg'))
              img(src=require('img/my-photo.jpg') alt='my-photo')
          .about-me__content
            .uptitle.uptitle_about-me Про мене
            .title.title_about-me Мене звати Кирило
            .about-me__text
              | Шукаю чудовий колектив у вашій компанії на посаді Web-розробника. Наразі маю навчальний досвід роботи над власними проєктами. Цікавлюсь іграми, історією, комп'ютерними технологіями. Стресостійкий та комунікабельний, маю досвід розв'язання різних проблем у комп'ютерній сфері. Доволі посидючий - здатен приділяти багато часу та уваги роботі та саморозвитку.
          .about-me__skills
            .about-me__skill
              .about-me__skill-img-wrapper
                img(src=require('icons/about_me/web_development.svg') alt='web-dev')
              .about-me__text-wrapper
                .about-me__skill-title Web-розробка
                .about-me__skill-descr
                  | Можу писати адаптивні та сучасні сайти на HTML CSS JS, використовуючи актуальні бібліотеки.
            .about-me__skill
              .about-me__skill-img-wrapper
                img(src=require('icons/about_me/web_development.svg') alt='web-dev')
              .about-me__text-wrapper
                .about-me__skill-title Адміністрування серверу
                .about-me__skill-descr
                  | Є базові знання з адміністрування linux та налаштуванням сервера. Цей сайт був піднятий на орендованому VPS сервері, завдяки nginx і налаштований особисто мною.
            .about-me__skill
              .about-me__skill-img-wrapper
                img(src=require('icons/about_me/web_development.svg') alt='web-dev')
              .about-me__text-wrapper
                .about-me__skill-title Програмування на C++ та C#
                .about-me__skill-descr
                  | Раніше я вивчав C++ та C#, тому маю базові знання з програмування на цих мовах. Звісно, це не мій основний профіль, але ці знання допомагають мені ефективніше розвиватись.
            //
              <div class="about-me__skill">
              <div class="about-me__skill-img-wrapper">
              <img src="icons/about_me/web_development.svg" alt="web-dev">
              </div>
              <div class="about-me__text-wrapper">
              <div class="about-me__skill-title">Web-розробка</div>
              <div class="about-me__skill-descr">Можу писати адаптивні та сучасні сайти на HTML CSS JS. Також можу використовувати актуальні бібліотеки.</div>
              </div>
              </div>
              <div class="about-me__skill">
              <div class="about-me__skill-img-wrapper">
              <img src="icons/about_me/web_development.svg" alt="web-dev">
              </div>
              <div class="about-me__text-wrapper">
              <div class="about-me__skill-title">Web-розробка</div>
              <div class="about-me__skill-descr">Можу писати адаптивні та сучасні сайти на HTML CSS JS. Також можу використовувати актуальні бібліотеки.</div>
              </div>
              </div>
    section#exp-edu.exp-edu
      .container
        h2.uptitle.uptitle_exp-edu Досвід
        h2.title.title_exp-edu Мій загальний досвід та освіта
        .exp-edu__wrapper
          .exp-edu__education
            h3.exp-edu__subtitle Освіта
            .exp-edu__info-block
              .exp-edu__icon
                img(src=require('icons/experience/university.svg') alt='itstep')
              h4.exp-edu__info-title Комп'ютерна академія IT Step
              h5.exp-edu__info-subtitle Філіал у місті Маріуполь
              .exp-edu__info-text
                | Це не відноситься до мого актуального портфоліо, але раніше вивчав програмування у цій школі. Технології, які я вивчив: С++, C#, початковий рівень системного адміністрування.
            .exp-edu__info-block
              .exp-edu__icon
                img(src=require('icons/experience/courses.svg') alt='udemy')
              h4.exp-edu__info-title Udemy
              h5.exp-edu__info-subtitle Курси з Web-розробки
              .exp-edu__info-text Курси з HTML, CSS, JavaScript від Івана Петриченко.
          .exp-edu__experience
            h3.exp-edu__subtitle Досвід
            .exp-edu__info-block
              .exp-edu__icon
                img(src=require('icons/experience/developer.svg') alt='developer')
              h4.exp-edu__info-title Власні навчальні проєкти
              h5.exp-edu__info-subtitle
                a(target='_blank' href='#portfolio') подивитись
              .exp-edu__info-text
                | Написав кілька невеличких проєктів-сторінок, які можуть продемонструвати мої навички. Опис кожного проєкту можете подивитись на моєму 
                a(target='_blank' href='https://github.com/Qunthunnan')
                  | Github
                  svg(width='20' height='20' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M10.5 0.5C4.975 0.5 0.5 4.86167 0.5 10.2411C0.5 14.5457 3.365 18.1962 7.3375 19.4832C7.8375 19.5749 8.02083 19.2734 8.02083 19.0148C8.02083 18.7835 8.0125 18.1706 8.00833 17.3585C5.22667 17.9459 4.64 16.0517 4.64 16.0517C4.185 14.9274 3.5275 14.6267 3.5275 14.6267C2.62167 14.0228 3.5975 14.0352 3.5975 14.0352C4.60167 14.103 5.12917 15.0389 5.12917 15.0389C6.02083 16.5283 7.47 16.0979 8.04167 15.8493C8.13167 15.219 8.38917 14.7903 8.675 14.5466C6.45417 14.3029 4.12 13.4652 4.12 9.73304C4.12 8.66988 4.5075 7.80085 5.14917 7.11934C5.03667 6.87317 4.69917 5.8827 5.23667 4.54116C5.23667 4.54116 6.07417 4.28012 7.98667 5.53988C8.78667 5.32345 9.63667 5.21606 10.4867 5.2111C11.3367 5.21606 12.1867 5.32345 12.9867 5.53988C14.8867 4.28012 15.7242 4.54116 15.7242 4.54116C16.2617 5.8827 15.9242 6.87317 15.8242 7.11934C16.4617 7.80085 16.8492 8.66988 16.8492 9.73304C16.8492 13.4752 14.5117 14.2987 12.2867 14.5383C12.6367 14.8307 12.9617 15.428 12.9617 16.3408C12.9617 17.6444 12.9492 18.6918 12.9492 19.0082C12.9492 19.2635 13.1242 19.5683 13.6367 19.4708C17.6375 18.192 20.5 14.5391 20.5 10.2411C20.5 4.86167 16.0225 0.5 10.5 0.5Z' fill='black')
    section#tools.tools
      .container
        h3.uptitle.uptitle_tools Навички
        h2.title.title_tools Що я використовую у роботі
        .tools__wrapper
          .tools__tool
            .tools__tool-img
              img(src=require('icons/skills/html5.svg') alt='html')
            h4.tools__tool-title HTML5
            .tools__text
              | Саме він створює каркас вашого сайту, а п'ята версія дозволить мені створювати більш SEO-оптимізовану структуру вашого продукту
          .tools__tool
            .tools__tool-img
              img(src=require('icons/skills/css3.svg') alt='css3')
            h4.tools__tool-title CSS3
            .tools__text
              | Ця мова стилів дозволяє мені створювати будь-який зовнішній вигляд вашого сайту або програми
          .tools__tool
            .tools__tool-img
              img(src=require('icons/skills/js.svg') alt='js')
            h4.tools__tool-title Java Script
            .tools__text
              | Ця мова програмування дозволяє оживити все, що завгодно: слайдери, вікна, підказки, вкладки, отримання даних від сервера та багато іншого
          .tools__tool
            .tools__tool-img
              img(src=require('icons/skills/jquery.svg') alt='jquery')
            h4.tools__tool-title Jquery
            .tools__text
              | Вже трохи застаріла технологія, але все ще використовується у великої кількості проєктів. В мене деякі сторінки використовують jquery.
          //
            <div class="tools__tool">
            <div class="tools__tool-img">
            <img src="icons/skills/react.svg" alt="react">
            </div>
            <h4 class="tools__tool-title">React</h4>
            <div class="tools__text">Ця бібліотека дозволяє створювати веб-додатки. Ми можемо створити максимально інтерактивний продукт саме під ваші цілі</div>
            </div>
          .tools__tool
            .tools__tool-img.tools__tool-img-multi
              img(src=require('icons/skills/gulp-logo.svg') alt='nodejs')
              img(src=require('icons/skills/git-logo.png') alt='nodejs')
              svg(viewBox='0 0 780 250')
                path(fill='#231F20' d='M240,250h100v-50h100V0H240V250z M340,50h50v100h-50V50z M480,0v200h100V50h50v150h50V50h50v150h50V0H480z M0,200h100V50h50v150h50V0H0V200z')
            h4.tools__tool-title Gulp, Git, npm
            .tools__text
              | Ці технології дозволять мені ефективніше налаштувати робочий простір та працювати над вашими задачами
          //
            <div class="tools__tool">
            <div class="tools__tool-img">
            <img src="icons/skills/mongo.db.svg" alt="mongo">
            </div>
            <h4 class="tools__tool-title">Mongo.db</h4>
            <div class="tools__text">Це нереляційна база даних, яка зберігатиме дані вашого сайту або програми</div>
            </div>
            </div>
    //
      <section id="skills" class="skills">
      <div class="container">
      <div class="skills__wrapper">
      <div class="skills__skill">
      <div class="skills__skill-wrapper">
      <h3 class="uptitle uptitle_skills">Створення сайтів</h3>
      <div class="skills__percentage">100%</div>
      <div class="skills__progress-bar">
      <div class="skills__progress"></div>
      </div>
      </div>
      </div>
      <div class="skills__skill">
      <div class="skills__skill-wrapper">
      <h3 class="uptitle uptitle_skills">skillName</h3>
      <div class="skills__percentage">85%</div>
      <div class="skills__progress-bar">
      <div class="skills__progress"></div>
      </div>
      </div>
      </div>
      <div class="skills__skill">
      <div class="skills__skill-wrapper">
      <h3 class="uptitle uptitle_skills">skillName</h3>
      <div class="skills__percentage">90%</div>
      <div class="skills__progress-bar">
      <div class="skills__progress"></div>
      </div>
      </div>
      </div>
      <div class="skills__skill">
      <div class="skills__skill-wrapper">
      <h3 class="uptitle uptitle_skills">skillName</h3>
      <div class="skills__percentage">75%</div>
      <div class="skills__progress-bar">
      <div class="skills__progress"></div>
      </div>
      </div>
      </div>
      <div class="skills__skill">
      <div class="skills__skill-wrapper">
      <h3 class="uptitle uptitle_skills">skillName</h3>
      <div class="skills__percentage">90%</div>
      <div class="skills__progress-bar">
      <div class="skills__progress"></div>
      </div>
      </div>
      </div>
      <div class="skills__skill">
      <div class="skills__skill-wrapper">
      <h3 class="uptitle uptitle_skills">skillName</h3>
      <div class="skills__percentage">95%</div>
      <div class="skills__progress-bar">
      <div class="skills__progress"></div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </section>
    section#portfolio.portfolio
      .container
        h3.uptitle.uptitle_portfolio Портфоліо
        h2.title.title_portfolio Мої роботи
        .portfolio__wrapper
          a.portfolio__item.portfolio__item-prengi(target='_blank' href='prengi/')
            img(src=require('img/works/prengi.jpg') alt='prengi')
          a.portfolio__item.portfolio__item-pulse(target='_blank' href='pulse/')
            picture
              source(type='image/webp' srcset=require('img/works/pulse.webp') media='(max-width:576px)')
              source(media='(min-width: 577px)' srcset=require('img/works/pulse.jpg'))
              img(src=require('img/works/pulse.jpg') alt='pulse')
          a.portfolio__item.portfolio__item-uber(target='_blank' href='uber/')
            picture
              source(type='image/webp' srcset=require('img/works/uber.webp') media='(max-width: 576px)')
              source(media='(min-width: 577px)' srcset=require('img/works/uber.jpg'))
              img(src=require('img/works/uber.jpg') alt='uber')
          a.portfolio__item.portfolio__item-wordpress.portfolio__item-vertical(target='_blank' href='wordpress/')
            img(src=require('img/works/wordpress-vertical.jpg') alt='wordpress')
          a.portfolio__item.portfolio__item-none(target='_blank' href='none/')
            picture
              img(src=require('img/works/bread.jpg') alt='bread')
          a.portfolio__item.portfolio__item-horizontal.portfolio__item-none(target='_blank' href='none/')
            picture
              source(type='image/webp' srcset=require('img/works/mac.webp') media='(max-width: 576px)')
              source(media='(min-width: 577px)' srcset=require('img/works/mac.jpg'))
              img(src=require('img/works/mac.jpg') alt='mac')
    //
      <section id="price" class="price">
      <div class="container">
      <h3 class="uptitle uptitle_price">Прайс-ліст</h3>
      <div class="price__wrapper">
      <div class="price__item">
      <h4 class="price__subtitle">Landing-page</h4>
      <div class="price__value">від 3000₴</div>
      <div class="price__descr">Односторінковий сайт для презентації ваших послуг та товарів</div>
      </div>
      <div class="price__item">
      <h4 class="price__subtitle">Корпоративний сайт</h4>
      <div class="price__value">від 8000₴</div>
      <div class="price__descr">Сайт для вашего бізнесу</div>
      </div>
      <div class="price__item">
      <h4 class="price__subtitle">Інтернет магазин</h4>
      <div class="price__value">від 12000₴</div>
      <div class="price__descr">Інструмент для вашіх продажів у мережі</div>
      </div>
      <div class="price__item">
      <h4 class="price__subtitle">WEB-додаток</h4>
      <div class="price__value">від 11000₴</div>
      <div class="price__descr">Додаток, працюючий у браузері для вашего комфорту</div>
      </div>
      <div class="price__item">
      <h4 class="price__subtitle">testPriceTitle</h4>
      <div class="price__value">9999₴</div>
      <div class="price__descr">testTestTesttestTestTest</div>
      </div>
      <div class="price__item">
      <h4 class="price__subtitle">testPriceTitle</h4>
      <div class="price__value">9999₴</div>
      <div class="price__descr">testTestTesttestTestTest</div>
      </div>
      </div>
      </div>
      </section>
    section#contacts.contacts
      .container
        .contacts__wrapper
          .contacts__my-photo
            img(src=require('img/my-photo.jpg') alt='my-photo')
          .contacts__content
            h3.uptitle.uptitle_contacts Контакти
            h2.title.title_contacts Зв'яжіться зі мною
            .contacts__descr Будь яким зручним для вас способом
            .contacts__socials
              a(target='_blank' href='https://www.facebook.com/kirylo.bashkan')
                svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M17.0703 0H2.92969C1.31439 0 0 1.31439 0 2.92969V17.0703C0 18.6856 1.31439 20 2.92969 20H8.82812V12.9297H6.48438V9.41406H8.82812V7.03125C8.82812 5.09262 10.4051 3.51562 12.3438 3.51562H15.8984V7.03125H12.3438V9.41406H15.8984L15.3125 12.9297H12.3438V20H17.0703C18.6856 20 20 18.6856 20 17.0703V2.92969C20 1.31439 18.6856 0 17.0703 0Z' fill='white')
              a(target='_blank' href='https://t.me/Qunthunnan0')
                svg(width='20' height='20' viewBox='0 0 30 30' fill='' xmlns='http://www.w3.org/2000/svg')
                  path(d='M15 30C23.2863 30 30 23.2863 30 15C30 6.71375 23.2863 0 15 0C6.71375 0 0 6.71375 0 15C0 23.2863 6.71375 30 15 30ZM6.86375 14.675L21.3263 9.09875C21.9975 8.85625 22.5837 9.2625 22.3662 10.2775L22.3675 10.2762L19.905 21.8775C19.7225 22.7 19.2337 22.9 18.55 22.5125L14.8 19.7487L12.9912 21.4913C12.7912 21.6913 12.6225 21.86 12.235 21.86L12.5013 18.0438L19.4513 11.765C19.7537 11.4987 19.3837 11.3488 18.985 11.6138L10.3963 17.0212L6.69375 15.8663C5.89 15.6112 5.8725 15.0625 6.86375 14.675Z' fill='white')
            .contacts__descr Або залиште свої данні, я з вами зв’яжусь
            form.contacts__form(action='#')
              .contacts__name-input
                input(required='' name='name' type='text')
                label Ваше ім'я
              .contacts__email-input
                input(required='' name='email' type='email')
                label Ваша пошта
              .contacts__message
                textarea(name='message')
                label Ваше повідомлення
              button.button.button_contacts Відправити лист
              .contacts__policy
                input(required='' name='policy' type='checkbox')
                label
                  | Я згоден(на) з 
                  a(target='_blank' href='policy/') політикою конфіденційності
            .contacts__mail-sending Відправляю ваше повідомлення...
            .contacts__mail-sended Повідомлення відправлено!
    script(defer='' src=require('js/script.js'))