.modal
	.modal__overlay
	.modal__window.modal__window-reg
		button.modal__window-close ╳
		form.modal__form(action='#')
			.modal__form-name
				label(for='name')=ditictionary['labelName'][`${lang}`]
				input#name(maxlength='266' name='name' type='text')
			.modal__form-phone
				label(for='phone')=ditictionary['labelNumber'][`${lang}`]
				input#phone(maxlength='20' name='phone')
			button.modal__form-submit=ditictionary['modal__form-submit'][`${lang}`]
			.modal__form-policy
				input#policy(required='' type='checkbox' name='policy')
				label(for='policy')=ditictionary['labelPolicy'][`${lang}`]
					a(target='_blank' href=`/${lang}/policy`)=ditictionary['policyLink'][`${lang}`]
	.modal__window.modal__window-done
		button.modal__window-close ╳
		.modal__window-message=ditictionary['modal__window-message'][`${lang}`]
header.header
	button.header__mobile-button
		span
		span
		span
	.container
		.header__wrapper
			.header__country
				img.header__country-image(src=require('../icons/header/ua.jpg') alt='ua')
				div
					h2.header__country-title Ukraine
					.header__country-text
						a.header__country-text-tel(href='tel:+3806393007022') tel. +38(063) 930 07 002
						br
						a.header__country-text-mail(href='mailto:hi@vasolutions.com.ua') hi@vasolutions.com.ua
			.header__country
				img.header__country-image(src=require('../icons/header/dl.jpg') alt='dl')
				div
					h2.header__country-title Germany
					.header__country-text
						a.header__country-text-adress(target='_blank' href='https://maps.app.goo.gl/RWRuGnDZXY8DqGsg8') Trierer Strabe 35, 54329 Konz
						br
						a.header__country-text-tel(href='tel:+352661880305') tel. +352 661 88 03 05
			.header__country
				img.header__country-image(src=require('../icons/header/es.jpg') alt='es')
				div
					h2.header__country-title Estonia
					.header__country-text
						a.header__country-text-adress(target='_blank' href='https://maps.app.goo.gl/usNCh1LWCv1poPbD7') K. Karbery 16/27, 13812 Tallinn
						br
						a.header__country-text-tel(href='tel:+352661880305') tel. +352 661 88 03 05
			.header__country
				img.header__country-image(src=require('../icons/header/uk.jpg') alt='uk')
				div
					h2.header__country-title Great Britain
					.header__country-text
						a.header__country-text-adress(target='_blank' href='https://maps.app.goo.gl/bWY28s4YzexpBh5K8') E20LP, Golden vc House, London
						br
						a.header__country-text-tel(href='tel:+447501095529') tel. +44 750 109 55 29
			.header__country
				img.header__country-image(src=require('../icons/header/luxemboorg.jpg') alt='luxemboorg')
				div
					h2.header__country-title Luxembourg
					.header__country-text
						a.header__country-text-adress(target='_blank' href='https://maps.app.goo.gl/dh8xD6bP68xgbf6p7') 2,Rue d`Avalon, L-1159 Luxembourg
						br
						a.header__country-text-tel(href='tel:+352661880305') tel. +352 661 88 03 05
			nav.header__mobile-menu
				a.header__mobile-menu-item(href='#main')=ditictionary['header__mobile-menu-item-Main'][`${lang}`]
				a.header__mobile-menu-item(href='#prengi')=ditictionary['header__mobile-menu-item-Prengi'][`${lang}`]
				a.header__mobile-menu-item(href='#products')=ditictionary['header__mobile-menu-item-Products'][`${lang}`]
				a.header__mobile-menu-item(href='#footer')=ditictionary['header__mobile-menu-item-Footer'][`${lang}`]
				a.header__mobile-menu-item(href='#advantages')=ditictionary['header__mobile-menu-item-advantages'][`${lang}`]
section#main.main
	.main__slider-container
		.splide(aria-label='mainSlider')
			.splide__track
				ul.splide__list
					li.splide__slide
						img(src=require('../img/main/mainBg1.jpg') alt='backgtoud1')
					li.splide__slide
						img(src=require('../img/main/mainBg2.jpg') alt='backgtoud2')
					li.splide__slide
						img(src=require('../img/main/mainBg3.jpg') alt='backgtoud3')
					li.splide__slide
						img(src=require('../img/main/mainBg4.jpg') alt='backgtoud4')
					li.splide__slide
						img(src=require('../img/main/mainBg5.jpg') alt='backgtoud5')
			.splide__arrows
				.splide__pagination
		.main__text-content-wrapper
			.container
				.main__head
					img.main__head-logo(src=require('../icons/main/logo.png') alt='logo')
					nav.main__head-menu
						a.main__head-menu-item(href='#main')=ditictionary['header__mobile-menu-item-Main'][`${lang}`]
						a.main__head-menu-item(href='#prengi')=ditictionary['header__mobile-menu-item-Prengi'][`${lang}`]
						a.main__head-menu-item(href='#products')=ditictionary['header__mobile-menu-item-Products'][`${lang}`]
						a.main__head-menu-item(href='#footer')=ditictionary['header__mobile-menu-item-Footer'][`${lang}`]
						a.main__head-menu-item(href='#advantages')=ditictionary['header__mobile-menu-item-advantages'][`${lang}`]
				.main__text-wrapper
					h1.main__title=ditictionary['main__title'][`${lang}`]
					h2.main__subtitle
						b PRENGI
						=ditictionary['main__subtitle'][`${lang}`]
				button.button.button_main.button_singUp=ditictionary['button_main'][`${lang}`]
section#prengi.prengi
	.container
		.prengi__wrapper
			.prengi__info-block.prengi__info-block-question
				img(src=require('../icons/withPrengi/prengi1.png') alt='prengi-schedule')
				.prengi__info-block-text=ditictionary['prengi__info-block-text-Schedule'][`${lang}`]
			.prengi__info-block.prengi__info-block-question
				img(src=require('../icons/withPrengi/prengi2.png') alt='prengi-bd')
				.prengi__info-block-text=ditictionary['prengi__info-block-text-Bd'][`${lang}`]
			.prengi__info-block.prengi__info-block-question
				img(src=require('../icons/withPrengi/prengi3.png') alt='prengi-analyse')
				.prengi__info-block-text=ditictionary['prengi__info-block-text-Analyse'][`${lang}`]
			h2.prengi__title=ditictionary['prengi__title'][`${lang}`]
			.prengi__info-block.prengi__info-block-proposition
				img(src=require('../icons/withPrengi/prengi4.png') alt='prengi-money')
				.prengi__info-block-text.prengi__info-block-proposition-text=ditictionary['prengi__info-block-proposition-Money'][`${lang}`]
			.prengi__info-block.prengi__info-block-proposition
				img(src=require('../icons/withPrengi/prengi5.png') alt='prengi-analitycs')
				.prengi__info-block-text.prengi__info-block-proposition-text=ditictionary['prengi__info-block-proposition-Analitycs'][`${lang}`]
			.prengi__info-block.prengi__info-block-proposition
				img(src=require('../icons/withPrengi/prengi6.png') alt='prengi-integration')
				.prengi__info-block-text.prengi__info-block-proposition-text=ditictionary['prengi__info-block-proposition-Integration'][`${lang}`]
section#products.products
	.container
		h2.title.title_products=ditictionary['title_products'][`${lang}`]
		.splide(aria-label='productsSlider')
			.splide__pagination
			.splide__arrows
				button.splide__arrow.splide__arrow--prev
					svg(xmlns='https://www.w3.org/2000/svg' width='18' height='58.84' viewBox='0 0 18 58.84')
						defs
							style.
								.cls-1 {
								fill: #00c2f0;
								fill-rule: evenodd;
								}
						path#Rounded_Rectangle_7_copy.cls-1(data-name='Rounded Rectangle 7 copy' d='M1463.87,2170.77l16,27.71a1,1,0,0,1-1.74,1l-16-27.71A1,1,0,0,1,1463.87,2170.77Zm0,57.85,16-28a1.022,1.022,0,0,0-.37-1.38,1,1,0,0,0-1.37.37l-16,28a1.022,1.022,0,0,0,.37,1.38A1.01,1.01,0,0,0,1463.87,2228.62Z' transform='translate(-1462 -2170.28)')
				button.splide__arrow.splide__arrow--next
					svg(xmlns='https://www.w3.org/2000/svg' width='18' height='58.84' viewBox='0 0 18 58.84')
						defs
							style.
								.cls-1 {
								fill: #00c2f0;
								fill-rule: evenodd;
								}
						path#Rounded_Rectangle_7_copy.cls-1(data-name='Rounded Rectangle 7 copy' d='M1463.87,2170.77l16,27.71a1,1,0,0,1-1.74,1l-16-27.71A1,1,0,0,1,1463.87,2170.77Zm0,57.85,16-28a1.022,1.022,0,0,0-.37-1.38,1,1,0,0,0-1.37.37l-16,28a1.022,1.022,0,0,0,.37,1.38A1.01,1.01,0,0,0,1463.87,2228.62Z' transform='translate(-1462 -2170.28)')
			.splide__track
				ul.splide__list
					li.splide__slide
						img(src=require('../img/expertDesitions/macbook.png') alt='')
					li.splide__slide
						img(src=require('../img/expertDesitions/macbook2.png') alt='')
					li.splide__slide
						img(src=require('../img/expertDesitions/macbook3.png') alt='')
					li.splide__slide
						img(src=require('../img/expertDesitions/macbook4.png') alt='')
					li.splide__slide
						img(src=require('../img/expertDesitions/macbook5.png') alt='')
					li.splide__slide
						img(src=require('../img/expertDesitions/macbook6.png') alt='')
section#advantages.advantages
	.container
		h2.title.title_advantages=ditictionary['title_advantages'][`${lang}`]
		.advantages__wrapper
			.advantages__block
				.advantages__block-text=ditictionary['advantages__block-text-Testing'][`${lang}`]
			.advantages__block
				.advantages__block-text=ditictionary['advantages__block-text-Accounting'][`${lang}`]
			.advantages__block
				.advantages__block-text=ditictionary['advantages__block-text-Mobile'][`${lang}`]
			.advantages__block
				.advantages__block-text=ditictionary['advantages__block-text-Programmer'][`${lang}`]
			.advantages__block
				.advantages__block-text=ditictionary['advantages__block-text-Life'][`${lang}`]
			.advantages__block
				.advantages__block-text=ditictionary['advantages__block-text-Payment'][`${lang}`]
section#servers.servers
	.container
		h2.title.title_servers=ditictionary['title_servers'][`${lang}`]
			br
			=ditictionary['title_servers2'][`${lang}`]
		.servers__wrapper
			.servers__block
				h3.servers__block-title=ditictionary['servers__block-title-Server'][`${lang}`]
				.servers__block-text=ditictionary['servers__block-text-Server'][`${lang}`]
			.servers__block
				h3.servers__block-title=ditictionary['servers__block-title-Deploy'][`${lang}`]
				.servers__block-text=ditictionary['servers__block-text-Deploy'][`${lang}`]
section.startWork
	img.startWork__title-image(src=require('../icons/startWork/startWork.jpg'))
	h2.title.title_startWork=ditictionary['title_startWork'][`${lang}`]
		br
		=ditictionary['title_startWork2'][`${lang}`]
	button.button.button_startWork.button_singUp=ditictionary['button_singUp'][`${lang}`]
footer#footer.footer
	.container
		.footer__wrapper
			.footer__block
				h3.footer__title=ditictionary['footer__title-Company'][`${lang}`]
				img(src=require('../icons/footer/companyLogo.png') alt='logo')
				.footer__text
					| Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam quia quidem nisi error voluptatem, corrupti reiciendis earum. Doloremque exercitationem sunt eos itaque dicta quia temporibus! Possimus earum consequatur obcaecati ab!
				a.footer__menu-link(href=`${lang}/empty/`)=ditictionary['footer__menu-link-Tasks'][`${lang}`]
			.footer__block
				h3.footer__title=ditictionary['footer__title-Modules'][`${lang}`]
				ul.footer__menu
					li
						a.footer__menu-link(href=`${lang}/empty/` target='_blank')=ditictionary['footer__menu-link-Customering'][`${lang}`]
					li
						a.footer__menu-link(href=`${lang}/empty/` target='_blank')=ditictionary['footer__menu-link-Docs'][`${lang}`]
					li
						a.footer__menu-link(href=`${lang}/empty/` target='_blank')=ditictionary['footer__menu-link-Automate'][`${lang}`]
					li
						a.footer__menu-link(href=`${lang}/empty/` target='_blank')=ditictionary['footer__menu-link-Project'][`${lang}`]
					li
						a.footer__menu-link(href=`${lang}/empty/` target='_blank')=ditictionary['footer__menu-link-Control'][`${lang}`]
					li
						a.footer__menu-link(href=`${lang}/empty/` target='_blank')=ditictionary['footer__menu-link-Dashboard'][`${lang}`]
					li
						a.footer__menu-link(href=`${lang}/empty/` target='_blank')=ditictionary['footer__menu-link-Quests'][`${lang}`]
					li
						a.footer__menu-link(href=`${lang}/empty/` target='_blank')=ditictionary['footer__menu-link-Algorithms'][`${lang}`]
						a.footer__menu-link(href=`${lang}/empty/` target='_blank')=ditictionary['footer__menu-link-Quality'][`${lang}`]
					li
						a.footer__menu-link(href=`${lang}/empty/` target='_blank')=ditictionary['footer__menu-link-Warehouse'][`${lang}`]
					li
						a.footer__menu-link(href=`${lang}/empty/` target='_blank') Service desk
					li
						a.footer__menu-link(href=`${lang}/empty/` target='_blank')=ditictionary['footer__menu-link-Calendar'][`${lang}`]
					li
						a.footer__menu-link(href=`${lang}/empty/` target='_blank') Prengi market
			.footer__block
				h3.footer__title=ditictionary['footer__title-Industries'][`${lang}`]
				ul.footer__menu
					li
						a.footer__menu-link(href=`${lang}/empty/` target='_blank')=ditictionary['footer__menu-link-Factory'][`${lang}`]
					li
						a.footer__menu-link(href=`${lang}/empty/` target='_blank')=ditictionary['footer__menu-link-Retail'][`${lang}`]
					li
						a.footer__menu-link(href=`${lang}/empty/` target='_blank')=ditictionary['footer__menu-link-Facility'][`${lang}`]
					li
						a.footer__menu-link(href=`${lang}/empty/` target='_blank')=ditictionary['footer__menu-link-Logistic'][`${lang}`]
					li
						a.footer__menu-link(href=`${lang}/empty/` target='_blank') IT
					li
						a.footer__menu-link(href=`${lang}/empty/` target='_blank') HR
			.footer__block
				h3.footer__title=ditictionary['footer__title_About'][`${lang}`]
				ul.footer__menu
					li
						a.footer__menu-link(href=`${lang}/empty/` target='_blank')=ditictionary['footer__menu-link-History'][`${lang}`]
					li
						a.footer__menu-link(href=`${lang}/empty/` target='_blank')=ditictionary['footer__menu-link-Relations'][`${lang}`]
					li
						a.footer__menu-link(href=`${lang}/empty/` target='_blank')=ditictionary['footer__menu-link-Team'][`${lang}`]
					li
						a.footer__menu-link(href='https://t.me/Qunthunnan0' target='_blank')=ditictionary['footer__menu-link-Contacts'][`${lang}`]
			.footer__block
				.footer__text=ditictionary['footer__text'][`${lang}`]