doctype html
html(lang='uk')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Prengi
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap' rel='stylesheet')
    link(rel='apple-touch-icon' sizes='60x60' href=require('../apple-touch-icon.png'))
    link(rel='icon' type='image/png' sizes='32x32' href=require('../favicon-32x32.png'))
    link(rel='icon' type='image/png' sizes='16x16' href=require('../favicon-16x16.png'))
    link(rel='manifest' href=require('../site.webmanifest'))
    link(rel='mask-icon' href=require('../safari-pinned-tab.svg') color='#5bbad5')
    meta(name='msapplication-TileColor' content='#da532c')
    meta(name='theme-color' content='#ffffff')
    link(rel='stylesheet' href=require('../sass/style.scss'))
  body
    section.empty
      .container
        .empty__head
          img.empty__logo(src=require('../icons/main/logo.png') alt='logo')
        h1.empty__title Схоже, ця сторінка насправді не існує!
        h2.empty__subtitle
          | Тому, повернемось до перегляду минулої 
          a(href='../') сторінки
          | .😉
